.notDraggable{
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.dark.mainApp {
  background: #2b2b2b;
  color: whitesmoke;
  transition-duration: 0.4s;
}
.svgDefault.dark{
  fill: red;
  stroke: yellow;
  stroke-width: 0.25;
  transition-duration: 0.4s;
}
.light.mainApp {
  background: lavenderblush;
  color: black;
  transition-duration: 0.4s;
}
.svgDefault.light{
  fill: red;
  stroke: black;
  stroke-width: 0.25;
  transition-duration: 0.4s;
}
.fullHeight{
  min-height: 100vh;
}
.mainContents{
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 132px - 61px);
}

.hLine{
  margin: 0;
  border: none;
  height: 1px;
}
.hLine.dark{
  color: #61dafb;
  background-color: #61dafb;
  transition-duration: 0.4s;
}
.hLine.light{
  color: greenyellow;
  background-color: greenyellow;
  transition-duration: 0.4s;
}
@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.blinkingRectangle{
  background: transparent !important;
  padding-left: 3px;
  padding-bottom: 5px;
  transform: rotate(5deg);
  animation: blink 0.69s infinite alternate linear;
}