.box-shadow{
    transition-duration: 0.1s;
    box-shadow: 0px 0px 4px 1px black;
}
.box-shadow.light {
    background: white;
}
.box-shadow.dark {
    background: rgba(255, 255, 255, 0.1);
}
.box-shadow.dark:hover{
    transition-duration: 0.25s;
    background: rgba(255, 255, 255, 0.20);
}
.box-shadow.light:hover{
    transition-duration: 0.25s;
    background: rgba(0,0,0, 0.10);
}