.dark.footer{
    background: #3c3f41;
    color: lightgreen;
    transition-duration: 0.25s;
}
.light.footer{
    background: #282c34;
    color: #61dafb;
    transition-duration: 0.25s;
}

.mainContainer.footer{
    min-height: 42px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.links.footer{
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    min-height: 42px;
    padding-bottom: 1px;
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
    color: white;
}
.links.footer:hover{
    background: rgba(255, 255, 255, 0.15);
}