.dark.titleHeader, .dark.navBarHeader{
    background: #3c3f41;
    color: lightgreen;
    transition-duration: 0.25s;
}
.light.titleHeader,  .light.navBarHeader{
    background: #282c34;
    color: #61dafb;
    transition-duration: 0.25s;
}
.vLine {
    margin: 0;
    width: 3px;
    height: 100%;
}

@keyframes blink {
    from {
        opacity: 100%;
    }
    to {
        opacity: 10%;
    }
}
.blinkingRectangle{
    padding-left: 3px;
    padding-bottom: 5px;
    font-size: 28px;
    transform: rotate(5deg);
    animation: blink 0.69s infinite alternate ease-out;
    font-family: "Segoe Print", "Comic Sans MS", sans-serif;
}

.mainContainer{
    display: flex;
    position: static;
    width: 100%;
    flex-direction: row;
    align-items: center;
    user-select: none;
    -webkit-user-drag: none;
}
.mainContainer.titleHeader{
    height: 50px;
}
.mainContainer.navBarHeader{
    height: 56px;
}
.spacer{
    height: 120px;
}
.headingText {
    padding-left: 10px;
    font-size: 28px;
    font-family: "Segoe Print", "Comic Sans MS", sans-serif;
}
.icon.titleHeader {
    height: 32px;
    border-radius: 50%;
    transition-duration: 0.15s;
    right: 20px;
    position: absolute !important;
}

.tabContainer{
    text-decoration: none;
    flex: 1 1 0;
    text-align: center;
    vertical-align: center;
    height: 73%;
    width: 100%;
    border: none;
    border-top: solid 12px transparent;
    font-size: 18px;
    font-family: "Segoe Print", "Comic Sans MS", sans-serif;
    border-bottom: solid transparent 3px;
}
.tabContainer.light{
    color: #7FF8FF;
    background: #282c34;
    transition: 0.25s;
}
.tabContainer.dark{
    color: #E1FFE1;
    background: #3c3f41;
    transition: 0.25s;
}
.tabContainer.light.selected{
    border-bottom: solid greenyellow 3px;
    transition: 0.5s;
}
.tabContainer.dark.selected{
    border-bottom: solid #61dafb 3px;
    transition: 0.5s;
}
.icon:hover{
    background: rgba(255, 255, 255, 0.15);
    transition-duration: 0.25s;
}
@keyframes Animation {
    0%{background-position:0 -12px}
    100%{background-position:0 23%}
}
.tabContainer.dark:hover{
    background: linear-gradient(to bottom, rgba(97,218,251,0) 20%,
    rgba(97,218,251,1));
    background-size: 100% 500%;
    animation: Animation 0.35s ease forwards;
}
.tabContainer.light:hover{
    background: linear-gradient(to bottom, rgba(144,238,144,0) 20%,
    rgba(144,238,144,1));
    background-size: 100% 500%;
    animation: Animation 0.35s ease forwards;
}