@keyframes mainTextAnimation {
    0% {stroke-dashoffset: 69vmin;opacity: 0;fill-opacity: 0;}
    20% {opacity: 1; fill-opacity: 0;}
    50% {fill-opacity: 0.4;}
    100% {stroke-dashoffset: 0;}
}

.welcomeMain {
    background-attachment: fixed;
    -webkit-background-size: cover;
}
.welcomeMain.light{
    background-image: url("../resources/mountains_light.svg"), linear-gradient(skyblue, navajowhite, palegreen);
    transition: 0.5s linear;

}
.welcomeMain.dark{
    background-image: url("../resources/mountains_dark.svg");
    background-color: #1b1e23;
    transition: 0.5s linear;
}
.text{
    user-select: none;
    stroke-linejoin: round;
    text-anchor:middle;
    stroke-dasharray: 69vmin;
}
.text.animating {
    animation: mainTextAnimation linear forwards alternate infinite 2s;
}

.text.light {
    stroke:darkblue;
    fill: blue;
    fill-opacity: 0.4;
    transition-duration: 0.5s;
}

.text.dark {
    stroke:lightgreen;
    fill: lightgreen;
    fill-opacity: 0.4;
    transition-duration: 0.5s;
}
